/* GLOBAL ------------------------------------------------------------------ */

body {
  color: #333;
  /*background-color: #efefef;*/
  /*background-color: #eb6b56;*/
  background-color: #fff;
}

.container-bg {
  background-color: #efefef;
}

.leaderboard-container-bg {
  background-color: #d1d5d8;
}

.leaderboard-full {
  margin-top: 50px;
}

.lm-content-header {
  margin-top: 10px;
  margin-bottom: 0;
  padding-bottom: 30px;
  font-size: 24px;
}

.lm-content-header-subtitle {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 20px;
}

.lm-content-header-favorite {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 30px;
  font-size: 24px;
}

.lm-content-header-favorite-subtitle {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 200;
}

.cam-container-button{
  margin-top: 20px;
}

.secondaryAction {
  margin-left: 10px;
}

.lm-content-title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 14px;
}

.container-contact {
  margin-top: 50px;
  margin-bottom: 30px;
}

.asteriskField {
  display: none;
}

.panel-default-small .panel-title {
  font-size: 10px;
  margin-bottom: -10px;
}

.cam-viewer-container {
  /*position: relative;*/
}

.cam-viewer-img-container {
  /*position: relative;*/
}

.cam-viewer-video-container {
  /*position: relative;*/
  display: none;
}

.cam-viewer-video-container .video-js {
  background-color: #efefef;
}

.cam-viewer-video-container .video-js .vjs-tech {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.cam-viewer-img-rounded {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.cam-viewer-img-skin {
  background-color: #dfdfdf;
  min-height: 468px;
}

.cam-viewer-img-loading {
  width: 100%;
  height: 10px;
}

.cam-viewer-img-blank {
  /*position: absolute;*/
  z-index: -9999;
}

.cam-viewer-loading {
  /*position: absolute;*/
  top: 0;
  left: 0;
  z-index: 4;
  height: 100%;
  opacity: 0.7;
  display: none;
  background-color: #333;
}

.cam-viewer-direction {
  /*position: absolute;*/
  top: 0;
  left: 0;
  z-index: 3;
  height: 100%;
}

.cam-viewer-direction-external {
  /*position: absolute;*/
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  display: none;
}

.cam-viewer-landmark {
  /*position: absolute;*/
  top: 0;
  left: 0;
  z-index: 3;
  height: 100%;
}

.cam-viewer-landmark-external {
  /*position: absolute;*/
  top: 0;
  left: 0;
  z-index: 3;
  height: 100%;
  display: none;
}

.cam-viewer-action {
  margin-bottom: 30px;
}

.cam-refresh-video,
.cam-image-link {
  display: none;
}

.cam-viewer-title {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 5px;
}

#close-icon {
  position: absolute;
  z-index: 9;
  top: 4px;
  right: 4px;
  opacity: 0.8;
  cursor: pointer;
  display: none;
}

#close-icon:hover {
  opacity: 1;
}

.flexslider {
  margin: 0;
  display: none;
  border: none;
  background: none;
  background-color: #000000;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
       -o-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
}

ul.slides p {
  position: absolute;
  z-index: 9;
  left: 27px;
  bottom: -10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: #ffffff;
  font-size: 12px;
  border-top-right-radius: 4px;
  background-color: rgba(0,0,0,0.7);
}

.flex-pauseplay {
  position: absolute;
  z-index: 9;
  left: 0;
  bottom: 0;
  padding-top: 3px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: rgba(0,0,0,0.6);
}

.flex-play,
.flex-pause {
  cursor: pointer;
  color: #dedede;
}

.flex-play:hover,
.flex-pause:hover {
  color: #ffffff;
}

.selectbox {
  position: absolute;
  z-index: 9;
  right: 0;
  bottom: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
  opacity: 0.7;
  color: #ffffff;
  font-size: 12px;
  display: none;
  border-top-left-radius: 4px;
  background-color: #000000;
}

.selectbox select {
  cursor: pointer;
  outline: none;
  color: #000000;
}

.cam-viewer-subtitle {
  font-size: 18px;
  margin-bottom: 6px;
  cursor: pointer;
}

#timelapse-desc {
  cursor: pointer;
}

#panel-timelapse {
  max-height: 121px;
}

.filmstrip {
  display: block;
  height: 11px;
  background: url("../img/filmstrip.cd7af658b89a.png") top left repeat-x;
}

.timelapse-cam {
  padding: 0 2px;
  width: 100%;
  height: 99px;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  overflow: hidden;
  background-color: #000000;
}

.timelapse-cam-thumb {
  display: inline-block;
}

.timelapse-cam-info {
  margin-top: -98px;
  margin-bottom: -47px;
  height: 100px;
  width: 131px;
  color: #ffffff;
  opacity: 0;
  overflow: hidden;
  background-color: #000000;
}

.timelapse-cam-info p {
  margin-top: 20px;
  color: #ffffff;
  font-size: 12px;
  line-height: 30px;
}

.cam-viewer-footer {
  font-size: 12px;
}

.cam-viewer-full-spons img,
.cam-viewer-full-spons embed {
  width: 100% !important;
  height: 100% !important;
}

.cam-viewer-spons embed,
.cam-viewer-spons img {
  width: 100% !important;
  height: 100% !important;
}

.cam-viewer-static-map {
  width: 160px;
  height: 188px;
  background-color: #fff;
}

.cam-viewer-full-spons-container {
  position: relative;
}

.cam-viewer-map {
  width: 152px;
  height: 190px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.spons-left {
  margin-right: 20px;
}

.errorlist {
  list-style: none;
}

.errorlist li {
  margin-left: -39px;
  font-weight: bold;
}

ul.bookmarks {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

ul.bookmarks li {
  margin: 0 3px 3px 3px;
  padding: 0.4em;
  padding-left: 1.5em;
  cursor: pointer;
}

ul.bookmarks li span {
  position: absolute;
  margin-left: -1.3em;
}

.buttons {
  margin-top: 20px;
}

span.link {
  margin-left: 15px;
  cursor: pointer;
  color: #3bafda;
}

span.link:hover {
  color: #4fc1e9;
}


/* NAVBAR ------------------------------------------------------------------ */

.navbar {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: 0;
}

.navbar-cctv-search {
  width: 150px;
}

.navbar-lm-right {
  margin-right: 0 !important;
}

.navbar-form-lm-small {
  margin-top: 10px;
}

.navbar-inverse .navbar-nav >li > a:hover {
  background-color: #000;
}


/* CONTENT ----------------------------------------------------------------- */

.content-sidebar-container {
  padding-top: 30px;
  margin-bottom: 0;
  position: relative;
  min-height: 644px;
}

.maps {
  background-color: #54acd2;
}

#panel-maps {
  position: absolute;
  top: 520px;
  right: 33px }
  #panel-maps img {
    margin-right: 10px }

.cams-featured-container {
  margin-left: -10px;
  margin-right: -10px;
  height: 134px;
  background-color: #ddd;
  overflow: hidden;
  z-index:2;
}

.cam-featured-inner-container {
  margin-top: 10px;
}

/* Switcher Maps */
#switcher-sd {
  position: absolute;
  top: 175px;
  right: 10px; }
  #switcher-sd p {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #00a651;
    border-radius: 4px;
    cursor: pointer;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
            box-shadow: 0 1px 2px rgba(0,0,0,.2); }
  #switcher-sd p:hover {
    background-color: #009247 }
  #switcher-sd a {
    color: #ffffff; }

#switcher-gmap {
  position: absolute;
  top: 175px;
  right: 10px; }
  #switcher-gmap p {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
            box-shadow: 0 1px 2px rgba(0,0,0,.2); }
  #switcher-gmap p:hover {
    background-color: #ebebeb }
  #switcher-gmap a {
    color: #333333; }
/* End Switcher Maps */


/* controller Maps */
#controller {
  display: none;
}

#controller {
  position: absolute;
  top: 520px;
  right: 30px }
  #controller .maps-menu {
    position: relative; }

.dropit {
  padding: 0;
  margin: 0;
  list-style: none;
  float: right;
  margin-right: 20px; }
  .dropit .dropit-trigger {
    position: relative }
  .dropit .dropit-submenu {
    position: absolute;
    padding: 10px;
    margin: 0;
    width: 160px;
    bottom: 35px;
    right: -10px;
    z-index: 1000;
    display: none;
    list-style: none;
    background-color: #ffffff;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
            box-shadow: 0 1px 2px rgba(0,0,0,.2) }
  .dropit .dropit-submenu:after {
    content: '';
    position: absolute;
    top: 100%;
    right: 8%;
    width: 0;
    height: 0;
    border-top: 8px solid #ffffff;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent }
  .dropit .dropit-open .dropit-submenu {
    display: block }

input[type=checkbox].css-checkbox {
  margin: -1px;
  padding: 0;
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  border: 0;
}
input[type=checkbox].css-checkbox + label.css-label {
  padding-left: 20px;
  height: 15px;
  display: inline-block;
  line-height: 15px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-size: 13px;
  vertical-align: middle;
  cursor: pointer;
}
input[type=checkbox].css-checkbox:checked + label.css-label {
  background-position: 0 -15px;
}
.css-label {
  background-image: url("../img/checkbox.b4af010c4160.png")
}
/* End Maps Menu */


/* Cam Thumbnails */
.cam-thumb {
  width: 140px;
  height: 114px;
}

.cam-thumb-img {
  width: 140px;
  height: 114px;
  background-color: black;
  border-radius: 5px;
}

.cam-thumb-logo {
  padding: 5px;
  width: 65px;
  margin-top: 20px;
  margin-left: 39px;
  opacity: 0.6;
  z-index: 3;
  position: absolute;
}

.cam-thumb-info {
  padding: 5px;
  height: 25px;
  width: 140px;
  background-color: #000;
  margin-left: 0;
  margin-top: -25px;
  overflow: hidden;
  color: #fff;
  opacity: 0.6;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.cam-thumb-info p {
  margin: 0;
  padding: 0;
  font-size: 10px;
  text-align: center;
}

.cam-name {
  margin: 0;
  padding: 0;
  text-align: center;
}

.cam-name a {
  color: #fff;
  display: inline-block;
  border-bottom: none;
}

.cam-lists {
  margin-right: -5px;
}

.cam-list {
  margin-bottom: 10px;
}
/* End Cam Thumbnails*/


/* Incident Form */
#incident-textarea,
#id_content {
  resize: none;
}

.incident-form-body {
  border-bottom: 1px solid #ddd;
}

.incident-form-footer {
  margin-top: 10px;
}

.incident-char-count {
  font-size: 12px;
  color: #999;
  position: absolute;
  margin-top: 6px;
  margin-left: 0;
}

.twitter-follow-button{
  margin-top: 4px;
}

.incident-search {
  font-size: 12px;
  color: #888;
  border-bottom: 1px solid #ddd;
}

.incident-search-form {
  margin-bottom: 10px;
}

.incident-search-result{
  margin-top: -15px;
  font-size: 12px;
  color: #888;
}
/* End Incident Form */


.info-title {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 16px;
  text-transform: capitalize
}

.info-content {
  margin-top: -7px;
  margin-bottom: 7px
}

.info-datestamp {
  margin-bottom: 5px;
  font-size: 12px;
  font-style: italic
}

.info-description {
  margin-top: 7px;
  margin-bottom: 0;
  font-size: 13px
}

.info-location {
  margin-top: 7px;
  margin-bottom: 0;
  font-size: 13px;
  text-transform: capitalize
}


/* Incident */
.content__incident {
  background-color: #fff;
}

.content__incident > .media-list {
  margin-bottom: 0;
}

.incident {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.incident-ads {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.incident-reporter {
  font-size: 12px;
  font-weight: 600;
}

.incident-reporter-name {
  font-size: 12px;
  font-weight: 600;
  text-transform: capitalize;
  color: #000;
}

.incident-info {
  color: #444;
}

.incident-marker {
  margin-right: 5px;
}

.incident-time {
  color: #222;
  font-size: 11px;
  font-weight: 400;
}

.incident-location {
  color: #999;
  font-size: 11px;
}

.incident-info a {
  font-size: 15px;
}

.incident-inline-images {
  max-height: 250px;
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 10px;
}

.incident-inline-images img {
  width: 100%;
  margin-top: -60px;
}

.incident-full-images {
  margin-bottom: 10px;
}

.incident-full-images img {
  width: 100%;
}

.incident .modal-content {
  width: 500px;
}

.incident .modal-body {
  padding: 20px;
}

.incident .modal-body img {
  width: 100%;
}

.incident .modal-footer {
  margin-top: 0;
  text-align: left;
}
/* End Incident */


/* Incident Single View */
.incident-view-container {
  min-height: 600px;
}

.incident-view-inner-container {
  margin-top: 30px;
}

.incident-view-reporter-name {
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  color: #000;
}

.incident-view-relative-time {
  margin-bottom: 0;
}

.incident-view-footer {
  margin-bottom: 30px;
}
/* End Incident Single View */


/* Login ------------------------------------------------------------------- */

.panel-login {
  padding: 25px;
  margin-top: 60px }
  .panel-login h1.login-title {
    margin-top: 0;
    margin-bottom: 25px;
    text-align: center;
    font-size: 36px }
  .panel-login p.login-desc {
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 20px }
  .panel-login .socialaccount_ballot {
    margin-top: 0 }
  .panel-login li {
    margin: 10px }
  .panel-login li button.facebook-login {
    padding: 7px;
    width: 170px;
    background-color: #3b5998;
    border: none;
    border-radius: 4px }
  .panel-login li button.facebook-login:hover {
    background-color: #2a4784 }
  .panel-login li button.twitter-login {
    padding: 7px;
    width: 170px;
    background-color: #55aace;
    border: none;
    border-radius: 4px }
  .panel-login li button.twitter-login:hover {
    background-color: #4392b3 }
  .panel-login li button.facebook-login:focus,
  .panel-login li button.twitter-login:focus {
    outline: none }
  .panel-login ul.socialaccount_providers {
    padding: 0;
    list-style: none;
    text-align: center }
  .panel-login .login-or {
    height: 1px;
    background-color: #aab2bd;
    text-align: center;
    margin: 30px 0 25px 0 }
  .panel-login .login-or span {
    padding-left: 10px;
    padding-right: 10px;
    color: #333333;
    background-color: #ffffff;
    position: relative;
    top: -10px }
  .panel-login .checkbox {
    margin-left: 20px }
  .panel-login button.btn-primary {
    margin-top: 10px }
  .panel-login span.login-forgot {
    margin-top: 17px }
  .panel-login p.login-last-desc {
    margin: 0;
    line-height: 20px }


/* STATISTICS ---------------------------------------------------------------- */

#panel-stat {
  margin-top: -10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px; }
  #panel-stat p.cam-desc {
    margin: 0 }
  #panel-stat h1 {
    margin-top: 6px }
  #panel-stat .cam-stat {
    float: left;
    margin: 25px 15px 10px 15px;
    width: 145px }
#panel-stat-graph {
  padding: 15px;
  margin-top: 20px }
  #panel-stat-graph p {
    margin: 5px }
  #panel-stat-graph a {
    color: #333333;
    cursor: pointer }
  #panel-stat-graph p.statistic-updated {
    margin: 5px;
    color: #777777;
    margin-top: 15px;
    margin-bottom: -5px; }
  #panel-stat-graph ul.statistic-path {
    margin: 0;
    padding: 5px;
    list-style: none; }
  #panel-stat-graph h3.statistic-path-title {
    font-size: 16px }
  #panel-stat-graph img {
    width: 530px }
  #panel-stat-graph #threeMonth {
    margin-left: 20px }


/* LOCATION ---------------------------------------------------------------- */

.breadcrumb {
  background-color: #ffffff;
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.panel-category {
  padding: 15px; }
  .panel-category h1 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 24px }
  .panel-category h2 {
    font-size: 22px;
    margin-bottom: 20px }
  .panel-category h3 {
    font-size: 16px;
    margin-bottom: 10px  }
  .panel-category form input {
    border-radius: 4px;
    border: solid 1px #aab2bd;
    padding-left: 3px;
    padding-right: 3px }
  .panel-category form input:focus {
    box-shadow: none;
    outline: 0;
    border: solid 1px #3bafda }
  .panel-category .category-img-container {
    display: inline-block;
    width: 75px;
    height: 75px }
  .panel-category .related-city {
    display: inline-block;
    width: 155px;
    line-height: 25px }
  .panel-category small {
    color: #999 }

#poi-map {
  margin-top: 20px;
  margin-bottom: 20px }
#poi-map img {
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,.2) }


/* SIDEBAR ----------------------------------------------------------------- */

.sidebar {
  width: 338px;
  float: right;
  position: absolute;
  right: 10px;
  top: 30px;
}

.sidebar__showcase-small {
  width: 338px;
  height: 62px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
}

.sidebar__showcase {
  width: 338px;
  height: 282px;
  margin-bottom: 20px;
  border: 1px solid #efefef;
}

.sidebar__youtube {
  border: 1px solid #ddd;
  margin-bottom: 20px;
  width: 336px;
  height: 205px;
}

.fb-like-box-lm {
  height: 271px;
  margin-bottom: 20px;
}

/* CCTV Sidebar Panel */
.panel-cam-container {
  min-height: 300px;
  margin-top: 30px;
  padding: 10px;
}
.panel-cam-container-favorite {
  margin-top: 30px;
  padding: 20px;
}
.panel-search-result {
  margin-top: 10px;
  margin-right: -15px;
  margin-bottom: -25px;
  margin-left: -15px;
}

.sidebar-cams {
  color: #888;
}

.sidebar-cams > ul {
  margin-left: 0;
  margin-bottom: 0;
}

.list-inline > .sidebar-cam {
  margin: 6px;
  padding-left: 0;
  padding-right: 0;
}

.list-group .list-group-item .badge-list {
  margin-top: 12px;
}

.list-group .list-group-item .img-list {
  float: left;
  margin-right: 12px;
}

.list-group .list-group-item .img-list img {
  border-radius: 4px;
  width: 40px;
}

.list-group .list-group-item p {
  margin: 0;
  font-weight: 600;
  color: #000000;
}

.list-group .list-group-item a {
  font-size: 12px;
  font-weight: 400;
}

/* Showcase at the bottom of content */
.showcase-bottom-container {
  margin-left: -10px;
  margin-right: -10px;
}

.showcase-bottom-list {
  margin-bottom: 0;
}

.showcase-bottom-list > li {
  padding-left: 0;
  padding-right: 0;
}

/* openx fix diplay horizontal alignment error */
.showcase-bottom-list > li > a > img {
  vertical-align: baseline;
}

.showcase-bottom {
  width: 338px;
  height: 282px;
  border: 1px solid #efefef;
  margin: 20px;
}


/* FOOTER ------------------------------------------------------------------ */

/* Footer Media Coverage */
.footer-media {
  border-top: solid 1px #ddd;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #d2d1d0;
}

.footer-media__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
  color: #111;
  text-align: center;
}

.footer-media__logo {
  margin: 10px;
}
/* End Footer Media Coverage */


/* Footer Links */
.footer-links {
  font-weight: 300;
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: #3a3a3a;
  color: #999;
}

.footer-links__col {
  height: 290px;
}

.footer-links__title {
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 13px;
  font-weight: 600;
  height: 20px;
  text-transform: uppercase;
}

.footer-links ul > li {
  font-size: 12px;
}

.footer-links a,
.footer-links a:visited {
  color: #888;
  text-decoration: none;
  font-weight: 400;
}

.footer-links a:hover {
  color: #bbb;
  text-decoration: none;
  font-weight: 600;
}

.footer-mobile-ads {
  margin-bottom: 20px;
}
/* End Footer Links */


/* Footer bottom */
.footer-info {
  padding-top: 17px;
  padding-bottom: 8px;
  font-size: 12px;
  color: #666;
  background-color: #232323;
}

.footer-info__highlight,
.footer-info__highlight:visited {
  color: #ccc;
}

.footer-info__highlight:hover {
  color: #ccc;
  border-bottom: 1px dotted #ddd;
}

.footer-info__icon {
  margin-top: -5px;
}

.twitter-login,
.twitter-login:hover,
.twitter-login:visited,
.facebook-login,
.facebook-login:hover,
.facebook-login:visited {
  color: #fff;
  text-decoration: none;
}

.facebook,
.facebook:hover,
.facebook:visited {
  color: #3b5998;
  text-decoration: none;
}

.twitter,
.twitter:hover,
.twitter:visited {
  color: #55aace;
  text-decoration: none;
}

.rss,
.rss:hover,
.rss:visited {
  color: #ff6600;
  text-decoration: none;
}
/* End Footer bottom */


/* Ambient Platform Fix*/
footer {
  margin-bottom: -20px;
}

/* Flatpages */
.body-flatpages {
  background-color: #efefef;
}

#flatpages {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;
}

#flatpages h1 {
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 15px;
}

#flatpages h2 {
  margin-top:30px;
  font-size: 21px;
}

#flatpages h3 {
  font-size: 18px;
  margin-top: 30px;
}

#flatpages p {
  font-size: 14px;
}
/* End Flatpages*/

.container-top {
  margin-top: 50px;
}

.bg-login {
  background-color: #efefef;
}

.login-box {
  margin-top: 80px;
}

.login-or {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.panel-body-login {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 40px;
  padding-right: 40px;
}

.input-group-login {
  margin-bottom: 5px;
}

input[type="checkbox"].checkbox-login {
  margin-left: 0;
  margin-right: 10px;
}

.input-group > .checkbox {
  padding-top: 0;
}

.login-action-button {
  margin-top: 20px;
  margin-bottom: 0;
}

.lupa {
  font-size: 14px;
}
/* RESPONSVE STUFF --------------------------------------------------------- */

/* Responsive Hack */
@media (max-width: 767px) {
  .leaderboard-container {
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 50px;
    padding-top: 8px;
    padding-bottom: 8px;
    height: 66px;
  }

  .maps-main {
    height: 500px;
  }

  .maps-home {
    display: none;
    height: 250px;
    margin-left: -10px;
    margin-right: -10px;
  }

  #switcher-sd,
  #switcher-gmap {
    top: 130px;
  }

  #controller {
    top: 570px;
  }

  .content {
    margin-right: 0;
    min-height: 0;
  }

  .content-sidebar-container {
    min-height: 0;
  }

  .incident-reporter-avatar {
    margin-bottom: 10px;
    border-radius: 5px;
    width: 40px;
    height: 40px;
  }

  .timelapse-cam-thumb {
    margin-left: 7px;
    margin-right: 7px;
    overflow: hidden;
    height: 99px;
  }

  .cam-viewer-img-skin {
    width: 100%;
    min-height: 0;
  }

  .incident-null {
    /*height: 200px;*/
    margin-bottom: 200px;
  }

  .panel-login {
    padding: 20px;
    margin-top: 20px }
    .panel-login h1 {
      font-size: 30px }

  #panel-stat-graph img {
    width: 100%
  }

  .btn-sm, .btn-group-sm>.btn {
    padding: 5px 8px;
  }
}

@media (min-width: 768px) {
  .lm-logo {
    margin-top: -3px;
  }

  .leaderboard-container {
    margin-left: -10px;
    margin-right: -10px;
    padding-top: 12px;
    padding-bottom: 12px;
    height: 114px;
  }

  .maps-main {
    height: 400px;
  }

  .content {
    margin-right: 368px;
    min-height: 1480px;
  }

  .statistic_container,
  .poi_container {
    min-height: 1500px;
  }

  .incident-reporter-avatar {
    margin-bottom: 10px;
    border-radius: 5px;
    width: 40px;
    height: 40px;
  }

  .incident-null {
    height: 200px;
    margin-bottom: 1100px;
  }

  .navbar-nav > li > a {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .leaderboard-container {
    margin-top: 50px;
  }

  .maps-home {
    display: none;
    height: 300px;
    width: 100%;
  }

  .body-bg {
    background-color: #efefef;
  }

  .leaderboard-wrapper {
    background-color: #d1d5d8;
  }

  .cams-featured-wrapper {
    background-color: #ddd;
  }

  .cam-featured > .cam-thumb {
    margin-left: 22px;
    margin-right: 22px;
    margin-bottom: 10px;
  }

  .timelapse-cam-thumb-48,
  .timelapse-cam-thumb-24,
  .timelapse-cam-thumb-12,
  .timelapse-cam-thumb-6 {
    margin-left: 7px;
    margin-right: 7px;
    overflow: hidden;
    height: 99px;
  }

  .cam-viewer-full-spons {
    width: 352px;
    height: 166px;
  }

  .cam-viewer-img-skin {
    min-height: 288px;
  }

  .cam-viewer-img-logo {
    top: 29%;
    left: 36%;
    width: 90px;
  }

  .cam-viewer-spons-container {
    margin-top: 30px;
    height: 166px;
    margin-bottom: 30px;
  }

  .cam-viewer-spons {
    width: 166px;
    height: 166px;
    background-color: #fff;
    border: 1px solid #ddd;
  }

  .btn-sm, .btn-group-sm>.btn {
    padding: 5px 8px;
  }

  #panel-stat-graph img {
    width: 100%
  }
}

@media (min-width: 992px) {

  /* skyscraper */
  .sky-container {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }

  .sky-left {
    width: calc(50% - 480px);
    float: left;
    position: relative;
    height: 1px;
  }

  .sky-left-inner {
    width: 100%;
    height: 600px;
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
  }

  .sky-left-sky {
    float: right;
  }

  .sky-center {
    width: 960px;
    float: left;
    height: 1px;
  }

  .sky-right {
    width: calc(50% - 480px);
    height: 1px;
    float: left;
    position: relative;
  }

  .sky-right-inner {
    width: 100%;
    height: 600px;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
  }

  .sky-right-sky {
    float: left;
  }

  .maps-home {
    display: none;
    height: 300px;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
  }

  .btn-show-map {
    display:block;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
  }

  .cam-featured > .cam-thumb {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .cam-viewer-full-spons {
    width: 390px;
    height: 190px;
    margin-right: 30px;
    border: 1px solid #ddd;
  }

  .cam-viewer-spons-container {
    margin-top: 30px;
    height: 190px;
    margin-bottom: 30px;
  }

  .cam-viewer-spons {
    width: 190px;
    height: 190px;
    margin-right: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
  }
}

@media (min-width: 1200px) {
  .incident-reporter-avatar {
    margin-bottom: 10px;
    border-radius: 5px;
    width: 50px;
    height: 50px;
  }
}

@media (min-width: 1301px) {
  .container-fluid {
    max-width: 1300px;
  }
}

/* End Responsive Hack */
.down-arrow {
  display: inline-block;
  position: relative;
  background: darkcyan;
  /*padding: 15px 0;*/
  width: 140px;
  text-align: center;
  border: 0px;
  z-index: 1;
  font-weight: 400;
  color: whitesmoke;
  font-size: 14px;
}
.down-arrow:after {
  content: '';
  display: block;  
  position: absolute;
  left: 0;
  top: 100%;
  width: 0;
  height: 0;
  border-top: 10px solid darkcyan;
  border-right: 70px solid transparent;
  border-bottom: 0 solid transparent;
  border-left: 70px solid transparent;
}